div.doboz{
    background-color: #ffeecc;
}
body{
    background:  #ffeecc;
    color: firebrick
}

div{
    background: white;
}

table td:nth-child(1){
    background-color: #00802b;
}

table td:nth-child(2){
    background-color: #0000ff;
}

table td:nth-child(3){
    background-color: #ff0000;
}

table>caption{
    color: gray;
}
table{
    caption-side: bottom;
    color: white;
    border-spacing: 20px;
    text-align: center;
    
    
}

h1{
    margin-left: auto;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: red 1px solid;
    margin-right: auto;
    width: 50%;
    font-family: sans-serif;
}
h2{
    text-align: center;
}
div.box{
    padding: 5px;
    line-height: 19px;
    border-radius: 10px;
    margin: 20px;
    font-family: sans-serif;
    border: firebrick 1px solid;
}
