body{
    font-family: sans-serif;
	background-image: url('viztukor.png');
}
image{
    width: 200px;
}
div{
	background-image: url('fatyol.png');
	width: 880px;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 50px;
	border-top-left-radius: 50px;
	border-bottom-right-radius: 50px;
        background-color: lightblue
}
img{
    width: 375px;
  float: right;
  text-align: center;
  font-size: 75%;
  padding: 0px 5px 5px;
  margin-left: 10px;
  background-image: url('fatyol.png');
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 10px 10px 10px gray;
}