/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2020.10.13., 12:58:43
    Author     : user
*/
body{
    background-color:#ffebcd;
    width: 80%;
    margin:auto;
    text-align:center;
}

hr{
    width: 50%;
    margin:auto;
    border:1px #e9967a solid;
}

div#kozepso tr, td{
    border: 3px white solid;
    border-radius:50px;
    padding:10px;
}

div#fejlec{
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px #e9967a solid;
    border-radius: 12px;
    text-align: center;
    background-color:white;
}

div#kozepso{
    background-color:white;
    border:2px #e9967a solid;
    border-radius:12px;
    text-align:center;
    margin-top: 20px;
    margin-bottom: 20px;
}

table{
    margin:auto;
    border-spacing: 30px;
    float: top;
}

div#kozepso table td {
    box-shadow: 0 0 0 1pt grey;
    color:white;
}
div#kozepso table caption{
    text-align:center;
    color:grey;
}

div#orvos{
    background-color:white;
    border:2px #e9967a solid;
    border-radius:12px;
    margin-top: 20px;
    margin-bottom: 20px;
}

div#kozlekedes{
    background-color:white;
    border:2px #e9967a solid;
    border-radius:12px;
    margin-top: 20px;
    margin-bottom: 20px;
}

div#kep{
    background-color:white;
    border:2px #e9967a solid;
    border-radius:12px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom:25px;
}
img{
    display: block;
    width: 96%;
    margin:auto;
    border:1px black solid;
    padding:5px;
}

h2{
    color:#a52a2a;
}

h1{
    color:#a52a2a;
}

p{
    color:#a52a4d;
}
