*{
    border: red 1px solid;
    padding: 8px;
    margin: 8px;
}

* *{
    opacity: 0.7;
}

img{
    display: block;
    width: 96%;
}
body {
  background-color: lightgoldenrodyellow;
}

h1 {
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}
Click