/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2020.09.30., 12:28:21
    Author     : user
*/

h1 {
    color:chartreuse
}
p  {
    color:chartreuse
}

h2 {
    color:red
} 
body {
    background-color:black;
    text-align:center;  
}

table.elsö{
    border: graytext 5px solid;
    border-radius: 7px;
    width: 20%;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    caption-side: bottom;
    text-align: center;
}

img{
    width: 75%;
}

table.elsö>tbody>tr>td{
    border: graytext 3px solid;
}

table.elsö>tbody>tr:nth-child(3n){
    background-color: lightskyblue;
}

table.elsö>tbody>tr:nth-child(1n){
    background-color: lightskyblue;
}

table.elsö>tbody>tr:nth-child(2n+2) {
    background-color: lightyellow;
}

caption{
    color:black;
    border: graytext 5px solid;
    background-color: lightsalmon;
}

thead{
    background-color: lightgreen;
}