body {
  background-color: darkseagreen;
  text-align: center;
}

h1 {
  color: white;
}

h2 {
  color: white;
}

p {
  color: whitesmoke;
  font-family: verdana;
  font-size: 14px;
}

img {
    width: 20%  
}

img {
  border-radius: 8px;
}

table.egyik{
    border: black 2px solid;
    border-radius: 5px;
    box-shadow: 4px 4px 10px 0px #7f7f7f
}
        
table.egyik>tbody>tr>td{
    border: #000000 0.5px solid;
    min-width: 150px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 16px;
}

table.egyik>tbody>tr:nth-child(1){
    background-color: lightyellow;
}

table.egyik>tbody>tr:nth-child(2){
    background-color: lightcoral;
}