/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2020.09.30., 12:29:14
    Author     : user
*/
h1 {
  color: white;
}

p {
    color: red;
}
h2 {
  color: greenyellow;
}
h3 {
    color: orange;
}
body{
    background-color: black;
        text-align: center;
       
}
a{
    color: pink;
}
img{
    width: 20%
}
table{
    color: black;
}
table.egyis{
        border: crimson 2px solid;
    border-radius: 10px;
    width: 20%;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    caption-side: bottom
        
}
table.egyis>tbody>tr>td{
    border: #7f7f7f 2px solid;
    border-color: crimson;
    
}
table.egyis>tbody>tr:nth-child(3){
    background-color: #f9d2e2;
}
table.egyis>tbody>tr:nth-child(4){
    background-color: lightseagreen;
}
table.egyis>tbody>tr:nth-child(1){
    background-color: seashell;
}
table.egyis>tbody>tr:nth-child(2){
    background-color: greenyellow;
}
table.egyis>thead>tr:nth-child(1){
    background-color: wheat;
}
caption{
    color: aqua;
    border: crimson 2px solid;
    background-color: chocolate;
}