/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2020.09.30., 12:29:14
    Author     : user
*/
h1 {
  color: white;
}

p {
    color: red;
}
h2 {
  color: greenyellow;
}
h3 {
    color: orange;
}
body{
    background-color: black;
        text-align: center;

}
a{
    color: pink;
}
img{
    width: 20%
}
table{
    color: aquamarine;
}
table.egyis{
    border: yellow 2px solid;
    border-radius: 10px;
    box-shadow: 4px 4px 10px 0px #7f7f7f;
    width: 100%;
}

