img{
    display: block;
    width: 96%;
    margin: 10px;
    border-radius: 10px;

}
div{
    background:white;
    color:firebrick;
    border-radius: 5px;
    border: 2px solid red;
    

}
body{
    background:#ffeecc;
    border-radius: 5px;
    line-height: 19px;
    font-family: sans-serif;

}
h1{
    width: 50%;
    margin-left: auto;
    padding-bottom: 5px;
    margin-bottom: 10px;
    text-align: center;
    border-bottom: red 1px solid;
    margin-right: auto;
}
p{
    border-radius: 5px;
    border: 2px solid red;
    padding: 5px;
    font-family: sans-serif;
    margin: 10px;

}
h2{
   border-radius: 5px;
   border: 2px solid red;
   width: 50%;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 10px;
   text-align: center;
}
table {
    color: white;
    caption-side: bottom;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    border-spacing: 20px;
}
table td:nth-child(1){
    background-color: green;
    border: #f0f5f5 4px solid;
    border-radius: 25px;
    box-shadow: 5px 5px 5px 5px #7f7f7f;
}
table td:nth-child(2){
    background-color: blue;
    box-shadow: 5px 5px 5px 5px #7f7f7f;
    border: white 4px solid;
    border-radius: 25px;
    
}
table td:nth-child(3){
    background-color: red;
    border: #f0f5f5 4px solid;
    border-radius: 25px;
    box-shadow: 5px 5px 5px 5px #7f7f7f;
}
table>caption {
    margin-bottom: 5px;
    color: gray;
    margin-top: 20px;
}
*{
    border: red 1px solid;
    padding: 8px;
    margin: 8px;
}
