img.balra{
    width: 33%;
    float: left;
    margin-right: 10px;
    margin-bottom: 3px;
    margin-top:3px;
}
*{
    border: black 1px solid;
    padding: 3px;
    overflow: auto;
}
.nincskoruliras{
    clear: both;
    background-color: darkblue;
        
}
p{
    background-color: red;
}
div.balra{
    width: 200px;
    float: left;
    background-color: cyan;
}
div.kozep{
    
}