/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2020.10.06., 13:27:06
    Author     : user
*/
body{
    background-color: burlywood

}
table{
    border: #33b5e5 1px solid;

    padding-left:10px;
    padding-right: 10px;

}
.header {
    padding: 60px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;
}
h1 {
    display: block;
    text-align : center;
    color:black;
    border: 3px black solid;
    border-radius: 12px;

}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

h1:hover{
    background-color: red;
}
h1{
    margin: auto;
    width:fit-content;
    display:block;
    margin-bottom: 10px;
}
body {
    background-image:url("unnamed.jpg");
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
li {
	margin: 0;
	padding: 36px 0 36px 84px;
	list-style: none;
	background-image: url("letoltes.png);
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 40px;
}

