/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2020.10.13., 13:15:48
    Author     : user
*/


img{
    display: block;
    width: 96%;
}

body{
    background-color: #FFDAB9;
}
h1
{
    text-align: center;
    font-style: initial;

}
h2{
    text-align: center;
    font-style: inherit;
}
table{
    text-align:center;
    width: 50%;
    margin-left:auto;
    margin-right: auto;
    border-bottom: 3px;
    border-top: 3px;
    border-right: 3px;
    border-left:3px;
    border-color: red;
    

}
div{
    border: 2px outset red;
    background-color: white;
    text-align: center;
    width: 500Px;

    margin-left: auto;
    margin-right: auto;

}


    
    
}

}


