body{
    background-color: #FFEBCD;

}  

#borderszine{
    background-color: white;    

}
#kozep,h2{
    text-align: center;  

}
#tablaszine{
    background-color: white;
}
#cucszine{
    background-color: white;
}
#ezszine{
    background-color: white;
}
#emezszine{
    background-color: white;
}


