p { color:white;
    font-family:arial}

h1 {color:white; 
    font-family:gabriola; 
    font-size: 60px; 
    text-align:center}

h2 {color:white; 
    font-size: 30px;}

#kiemel {color:white;
         font-size:20px}

#kiemel2 {color:white;
          font-size:100px;
          display:inline-block}

.kozepre20 {display:block;
            margin-left:auto;
            margin-right:auto}

a {border: 1px black solid; background-color:gray; font-size:50px; margin: 10px;}

a:hover {color:white; margin-left: 500px} 

table {
    border-collapse: collapse;
    margin: 6px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color:white;
    background-color: brown}

td, th {
    border: 2px solid white; padding:0.5rem}

th {text-decoration: underline}

video {margin-left:auto;
       margin-right:auto}