p { color:white;
    font-family:arial}

h1 {color:white; 
    font-family:gabriola; 
    font-size: 60px; 
    text-align:center}

h2 {color:white; 
    font-size: 30px;}

#kiemel {color:#b30000;
         font-size:20px}

#kiemel2 {color:#ffff99;
          font-size:100px;
          display:inline-block}

.kozepre20 {display:block;
            margin-left:700px}

table {border: aqua 1px solid; margin-left:500px; margin-bottom:100px;}

table>tbody>tr>td {border:aqua 1px solid; width: 60px; height: 60px; font-size:50px; text-align:center}

table>tbody>tr {background-color:rgb(28,163,156); color:white}

a {border: 1px black solid; background-color:gray; font-size:50px;}

a:hover {color:white; margin-left:200px;} 

#lama {color:green}
