/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2020.09.29., 14:06:57
    Author     : user
*/
*{
    margin: 35px
     
   
}
body {
    background-color: #FFA500
      
}

h1, h2 {
    text-decoration: underline
}
h1{
    text-align:center
}
h1 {
  width: 100px;
  padding: 10px;
  border: 3px solid black;
  margin:0;
}
img{
    border-color:#ff0000;
    border-style:ridge;
}
table{
    border:black 3px solid;
    border-collapse: collapse;
}


tr:nth-child(1n) {
    color: white;
    background-color: #000000;
}
tr:nth-child(2n) {
    color:black;
    background-color: #ffffff 
}
a{
    color:black;
    background-color:white;
}
a:hover {
  color: white;
  background-color: black;
  
}
