/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2020.09.29., 13:40:56
    Author     : dani
*/

body{
    background-color:#ff9999: 
    
}
h2{
     font-family:sans-serif;
     
     
    color: #ff0033;
}

p {
    font-family: sans-serif;
    color: #ff0033;
}
h1{
    font-family: sans-serif;
    color: #ff0033;
    font-style:italic  ;
    margin-left: 850px;
    margin-right: 850px;
    
    
}
div{
     
    
    
}
img{
   border: transparent;
   box-shadow:cadetblue;
}