/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2020.09.29., 13:39:57
    Author     : user
*/

body{
    background-color: #ff4538
}
h2{
    text-decoration: underline
}
div{
    color:blue;
      font-style:italic
}

h2{
    color:white
}
h1{
    font-style:italic
}
img{
    opacity: 1
}
h1{
    color:darkblue
}
h1{
    text-align: center
       
}
div{
    display:block;
    margin: 0px
}
u{
    text-decoration: none
        }
        .kep{
            display: block;
            margin: auto;
          padding: auto
              
        }
        div#menu>ul{
            display: block;
            margin: 0px;
            padding: 0px;
            background-color: black;
            text-align: center;
            
        }
        div#menu>ul>li{
            display: block;
            text-align: center;
            color: white;
            font-size: 25px;
           
                
                
        }
        div#menu>ul>li:hover{
            color: blue;
        }
        
        table{
            border: black 5px solid;
            border-collapse: collapse;
        }
        
        table>tbody>tr>td{
            border: black 5px solid;
            padding-left:  10px;
            padding-right:  10px;
        }
        
        table>tbody>tr:nth-child(2n-1){
            background-color: bisque;
        }