/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2020.09.29., 13:39:57
    Author     : user
*/

body{
    background-color: #ff4538
}
h2{
    text-decoration: underline
}
div{
    color:blue
}
div{
      font-style:italic
}

h2{
    color:white
}
h1{
    font-style:italic
}
img{
    opacity: 1
}
h1{
    color:darkblue
}
h1{
    text-align: center
       
}
div{
    display:block;
    margin: 
}
h1{
    padding:black
}

