/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2020.10.06., 13:27:06
    Author     : user
*/
body{
    background-color: burlywood
        
}
table{
    border: #33b5e5 1px solid;
    
    padding-left:10px;
    padding-right: 10px;
    
}
