*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #A5A5DFFF; /*RRGGBBAA vagy RRGGBB színkeverés, vagy nevek*/
}

img{
    opacity: 0.5; /*0.0...1.0*/
}

h1, h2{
   text-decoration: underline;
}

u{
    text-decoration: none;
    font-style: italic;
    color: blue;
}
