
img{
    display: block;
    width: 96%;
    margin: 10px;
    border-radius: 10px;
}
body {
    background: #ffeecc;
    font-family: sans-serif;
}

div {
    background: white;
    color: firebrick;
    border-color: red;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    border-radius: 20px;
    padding: 15px;
    font-family: sans-serif;
    line-height: 19px;
}

h1 {
    color: firebrick;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: firebrick 1px solid;
    width: 20%;
}

div.első {
    border: firebrick 2px solid;
    margin-bottom: 10px;
}
div.második {
    border: firebrick 2px solid;
    margin-bottom: 10px;
}
div.harmadik {
    border: firebrick 2px solid;
    margin-bottom: 10px;
}
div.negyedik {
    border: firebrick 2px solid;
    margin-bottom: 10px;
}
div.ötödik {
    border: firebrick 2px solid;
    margin-bottom: 10px;
}

table>caption {
    
}
h2 {
    text-align: center;
}