/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2020.10.14., 11:54:04
    Author     : user
*/
img{
    display: block;
    width: 96%;
}
div{
    background:white;
    color: firebrick;
    margin: 10px;
    padding: 5px;
    
    
}
body{
    background: #ffeecc;
    
}
h1{margin-left: auto;
   text-align: center;
   margin-bottom: 10px;
   padding-bottom: 5px;
   border-bottom: red 1px solid;
   color: #990000;  
   
}

      
  
