/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2020.10.01., 9:56:59
    Author     : tanulo
*/

h1{color: darkgoldenrod;
   font-size: 50px;
}
h2 {color: darkgoldenrod;
    font-size: 30px;
}
img kicsi{
    
    
}

