/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2020.09.30., 12:28:21
    Author     : user
*/

h1 {
    color:chartreuse
}
p  {
    color:chartreuse
}

h2 {
    color:red
} 
body {
     background-color:black;
    text-align: center;
}

img  {   
    border-radius: 50px;
    width: 500px;
}

