/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2020.10.01., 9:59:40
    Author     : tanulo
*/
body {
  background-color: burlywood;
}

h1 {
  color: purple;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 22px;
}