body {
  background-color: bisque;
  text-align: center;
  font-family: sans-serif;
}

h1 {
  color: maroon;
  padding-bottom: 5px;
}

h2 {
  color: maroon;
}

p {
  color: maroon;
  line-height: 20px;
  text-align: left;
}

div {
    border-bottom: maroon 1px solid;
    border: maroon 1px solid;
    border-radius: 17px;
    margin-bottom: 15px;
    background-color: white;
    margin-left: 200px;
    margin-right: 200px;
}

img {
    width: 90%;
    border: grey 1px solid;
}

table {
    margin: auto;
    min-width: 150px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 16px;
}

caption{
    margin: 18px;
    color:gray;
    caption-side: bottom;
}

table.tablazat td:nth-child(1){
    background-color: green;
    border: #f0f5f5 4px solid;
    border-radius: 25px;
    box-shadow: 5px 5px 5px 5px #7f7f7f;
}

table.tablazat td:nth-child(2){
    background-color: blue;
    box-shadow: 5px 5px 5px 5px #7f7f7f;
    border: white 4px solid;
    border-radius: 25px;
    padding: 5px;
}

table.tablazat td:nth-child(3){
    background-color: red;
    box-shadow: 5px 5px 5px 5px #7f7f7f;
    border: white 4px solid;
    border-radius: 25px;
}

td{
    color: white;
    padding: 4px;
}
