

img{
    display: block;
    width: 96%;
    margin: 10px;
    border-radius: 10px;
    border: white 5px;
}


body {
    background:  #ffeecc;
    color:  firebrick;
    font-family:  sans-serif;
}


div.doboz1{
    background: white;
    border: firebrick 1px solid;
    margin-bottom: 10px;
}

div.doboz3{
    background: white;
    border: firebrick 1px solid;
     margin-bottom: 10px;
}

div.doboz2{
    background: white;
    border: firebrick 1px solid;
     margin-bottom: 10px;
    
}

div.kép{
    background: white;
    border: firebrick 1px solid;
 margin-bottom: 10px;
 }

 h1{
    text-align: center;
    border-bottom: firebrick solid 2px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: 10 px;
    padding-bottom: 15px;
 }
    


div.table{
   background: white;
    border: firebrick 1px solid;
    text-align: center;
    margin-bottom: 10px;
}

h2{
    text-align: center;
}

div{
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    border-radius: 20px;
    padding: 5px;
    line-height: 18px;}

table.table td:nth-child(1){
    background-color: green;
    border: white 4px solid;
    border-radius: 25px;
    box-shadow: 5px 5px 5px 5px #7f7f7f ;
    
}

table.table td:nth-child(2){
     background-color: blue;
    border: white 4px solid;
    border-radius: 25px;
    box-shadow: 5px 5px 5px 5px #7f7f7f
}

table.table td:nth-child(3){
     background-color: red;
    border: white 4px solid;
    border-radius: 25px;
    box-shadow: 5px 5px 5px 5px #7f7f7f;
    
}

table.table>caption {
    color: gray;
    margin-top: 10px;
}

table{
    caption-side: bottom;
    margin-left:auto; 
    margin-right: auto;  
    width: 250px;
    color: white;
}





