h1 {
    color: gray;
   font-family: monospace;
    
}

body {
    background-color: #47ff78;
}

img {    
    margin: auto;
    display: block;
    padding: 0px;
}

.onClick

h2 {
    color: gray;
    font-family: monospace;
}