body{
    background: bisque;
    text-align: center;
}

h1{
    color:#990000;
}

h2{
    color:#990000;
}

p{
    color:#990000;
    text-align: left;
}

div{
    border: #cc6600 1px solid;
    margin-bottom: 15px;
    background: white;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 20px;
}

img{
    border: gray 5px solid;
    width: 750px;
    padding: 12px;
    margin: 12px;
}

caption{
    margin: 18px;
    color:gray;
    caption-side: bottom;
}

table{
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    border-spacing: 20px;
}

table.nemtom{
    caption-side: bottom;
}

.div2{
    color: #990000;
    margin-left: 700px;
    margin-right: 700px;
}

table.nemtom td:nth-child(1){
    background-color: green;
    border: #f0f5f5 4px solid;
    border-radius: 25px;
    box-shadow: 5px 5px 5px 5px #7f7f7f;
}

table.nemtom td:nth-child(2){
    background-color: blue;
    box-shadow: 5px 5px 5px 5px #7f7f7f;
    border: white 4px solid;
    border-radius: 25px;
    padding: 1px;
}

table.nemtom td:nth-child(3){
    background-color: red;
    box-shadow: 5px 5px 5px 5px #7f7f7f;
    border: white 4px solid;
    border-radius: 25px;
}

td{
    color: white;
    padding: 4px;
}



